# Created by .ignore support plugin (hsz.mobi)
### AppceleratorTitanium template
# Build folder and log file
build/
build.log

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
